div {
  border: black;
  background-color
}


.bookCardRequest{
border: 2px solid; 
padding: 15px;
margin: 60px;
background-color: lightyellow;
}

.book-imgRequest {
  width:, 60px;
  height: 200px;

}

